aside.main-sidebar.sidebar-dark-primary.elevation-4

    a.brand-link
        span.brand-text
            | CAPSTONE 2

    .sidebar

        .user-panel.mt-3.pb-3.mb-3.d-flex

            .info
                a.d-block
                    = user.fullname

        nav.mt-2

            ul.nav.nav-pills.nav-sidebar.flex-column

                li.nav-item
                    a.nav-link(
                        href="/dashboard"
                    )
                        i.nav-icon.fas.fa-home
                        p Dashboard