extends ../layouts/main

block content

    .row

        .col-lg-3.col-6

            .small-box.bg-info

                .inner
                    h3 150
                    p Inventaris

                .icon
                    i.fas.fa-boxes

        .col-lg-3.col-6

            .small-box.bg-success

                .inner
                    h3 75
                    p BHP

                .icon
                    i.fas.fa-box-open

        .col-lg-3.col-6

            .small-box.bg-warning

                .inner
                    h3 12
                    p Maintenance

                .icon
                    i.fas.fa-tools

        .col-lg-3.col-6

            .small-box.bg-danger

                .inner
                    h3 5
                    p Draft Pengadaan

                .icon
                    i.fas.fa-file-alt